<!doctype html>

<!--
COPYRIGHT by HighHay/Mivfx
Before using this theme, you should accept themeforest licenses terms.-->

<html class="no-js" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">

        <title>游戏知识图谱</title>
		
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, user-scalable=0">

        <link rel="stylesheet" href="/static/css/normalize.css">        
        
        <link rel="stylesheet" href="/static/css/pageloader.css">
        <link rel="stylesheet" href="/static/css/stylesheet.css">
        <link rel="stylesheet" href="/static/css/stylesheet_1.css">
        <link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/1.5.2/css/ionicons.min.css">
        
        <link rel="stylesheet" href="/static/css/foundation.min.css">
        <link rel="stylesheet" href="/static/css/jquery.fullPage.css">
        <link rel="stylesheet" href="/static/css/vegas.min.css">
        
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/main_responsive.css">
        <link rel="stylesheet" href="/static/css/style-font1.css">
        <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet" type="text/css">
        <script src="/static/js/modernizr-2.7.1.min.js"></script>
		<script src="/static/js/sakura.js"></script>
		<style type="text/css">

		body{cursor:url(/static/css/dorcandy.cur),default;}
		a:hover{cursor:url(/static/css/pointer.cur),pointer;}

		</style>
    </head>
    <body id="menu" class="alt-bg">
        <div class="page-loader" id="page-loader">
            <div><i class="ion ion-loading-d"></i><p>加载中</p></div>
        </div>
		<header class="header-top">
            <div class="menu clearfix">
                <a href="/"><span style="color:#FFD700;">知识图谱-魔改</span></a>
				<div class="logo-container">
					<img class="h-logo" src="/static/images/logo_only.png" alt="Logo" width="150" height="120">
				</div>
            </div>
		</header>

		<nav class="quick-link count-6 nav-left">
			<ul id="qmenu">
				<li data-menuanchor="home">
					<a href="#home">🎪</a>
					<span class="title">欢迎页面</span>
				</li>
				<li data-menuanchor="find">
					<a href="#find">🔍</a>
					<span class="title">实体查找</span>
				</li>
				<li data-menuanchor="classify">
					<a href="#classify">🌏</a>
					<span class="title">未完待续</span>
				</li>
				<li data-menuanchor="about-us">
					<a href="#about-us">👒</a>
					<span class="title">未完待续</span>
				</li>
				<li data-menuanchor="contact">
					<a href="#contact">📧</a>
					<span class="title">未完待续</span>
				</li>
			</ul>
		</nav>

        <div class="page-cover" id="home">
            <div class="cover-bg pos-abs full-size bg-img" data-image-src="/static/images/00001.jpg"></div>

            <div class="cover-bg pos-abs full-size slide-show">
				<i class="img" data-src="/static/images/00001.jpg"></i>
				<i class="img" data-src="/static/images/00002.jpg"></i>
				<i class="img" data-src="/static/images/00003.jpg"></i>
				<i class="img" data-src="/static/images/00004.jpg"></i>
				<i class="img" data-src="/static/images/00005.jpg"></i>
				<i class="img" data-src="/static/images/00006.jpg"></i>
				<i class="img" data-src="/static/images/00007.jpg"></i>
				<i class="img" data-src="/static/images/00008.jpg"></i>
				<i class="img" data-src="/static/images/00009.jpg"></i>
				<i class="img" data-src="/static/images/00010.jpg"></i>
				<i class="img" data-src="/static/images/00011.jpg"></i>
				<i class="img" data-src="/static/images/00012.jpg"></i>
				<i class="img" data-src="/static/images/00013.jpg"></i>
				<i class="img" data-src="/static/images/00014.jpg"></i>
				<i class="img" data-src="/static/images/00015.jpg"></i>
				<i class="img" data-src="/static/images/00016.jpg"></i>
				<i class="img" data-src="/static/images/00017.jpg"></i>
				<i class="img" data-src="/static/images/00018.jpg"></i>
				<i class="img" data-src="/static/images/00019.jpg"></i>
				<i class="img" data-src="/static/images/00020.jpg"></i>
				<i class="img" data-src="/static/images/00021.jpg"></i>
				<i class="img" data-src="/static/images/00022.jpg"></i>
				<i class="img" data-src="/static/images/00023.jpg"></i>
				<i class="img" data-src="/static/images/00024.jpg"></i>
				<i class="img" data-src="/static/images/00025.jpg"></i>
				<i class="img" data-src="/static/images/00026.jpg"></i>
				<i class="img" data-src="/static/images/00027.jpg"></i>
			</div>
            <div class="cover-bg pos-abs full-size bg-color" data-bgcolor="rgba(51, 2, 48, 0.12)"></div>

        </div>

        <main class="page-main" id="mainpage">
			<div class="section page-home page page-cent" id="s-home">
				<section class="content">
					<header class="header">
						<div class="h-left">
							<h2 title="">
								<a href=""><span style="color:#FFFFFF;">游戏</span><strong><span style="color:#FFFFFF;">知识图谱</span></strong></a>
							</h2>
						</div>
					</header>
				</section>
				<footer class="p-footer p-scrolldown">
                    <a href="#find">
                        <div class="arrow-d">
							<div class="before">快&nbsp;速</div>
							<div class="after">通&nbsp;道</div>
							<div class="circle"></div>
						</div>
                    </a>                        
                </footer>
			</div>

            <div class="section page-find page page-cent" id="s-find">
                <section class="content">
                    <div class="clock clock-countdown">
						<div class="site-config" data-date="7/18/2021 00:00:00" data-date-timezone="+0"></div>
						<header class="header">实体查询</header>
						<div class="second">
							<input class="knob container" id="second-knob" data-width="400" data-height="400" data-displayInput="false" data-fgColor="#fff" data-bgColor="rgba(255,255,255,0)" data-thickness=".07" value="0" data-displayPrevious="true" data-max="6000">
							<form method = "get" id = 'searchEntityForm'>
								<a class="" href="/detail">
									<i class="icon_genius"></i>
									<div class="input-group">
										<span class="btn btn-primary input-group-addon" type="button" id="relationSearchButton" style="background-color:#4592fe ; padding:6px 38px" onclick="document.getElementById('searchEntityForm').submit();">开始测试</span>
									</div>
								</a>
							</form>
						</div>
					</div>
                </section>                
                <footer class="p-footer p-scrolldown">
                    <a href="#classify">
                        <div class="arrow-d">
							<div class="before">快&nbsp;速</div>
							<div class="after">通&nbsp;道</div>
							<div class="circle"></div>
						</div>
                    </a>                        
                </footer>
            </div>

            <div class="section page-classify page page-cent " id="s-classify">
                <section class="content">
					<div>
						<header class="header">
							<h3><span style="color:#FFFFFF;">未完待续</span></h3>
						</header>
					</div>
                </section>
				<footer class="p-footer p-scrolldown">
                    <a href="#about-us">
                        <div class="arrow-d">
							<div class="before">快&nbsp;速</div>
							<div class="after">通&nbsp;道</div>
							<div class="circle"></div>
						</div>
                    </a>                        
                </footer>
            </div>

            <div class="section page-about page page-cent" id="s-about-us">
                <section class="content">
					<div>
						<header class="header">
							<h3><span style="color:#FFFFFF;">未完待续</span></h3>
						</header>
					</div>
                </section>
                <footer class="p-footer p-scrolldown">     
					<a href="#contact">
                        <div class="arrow-d">
							<div class="before">快&nbsp;速</div>
							<div class="after">通&nbsp;道</div>
							<div class="circle"></div>
						</div>
                    </a>                      
                </footer>
            </div>

            <div class="section page-contact page page-cent" id="s-contact">
				<section class="content">
					<div>
						<header class="header">
							<h3><span style="color:#FFFFFF;">未完待续</span></h3>
						</header>
					</div>
				</section>
            </div>  

        </main>

        <script src="/static/js/jquery-1.11.2.min.js"></script>
        <script src="/static/js/all.js"></script>
        <script src="/static/js/jquery.downCount.js"></script>
        <script src="/static/js/form_script.js"></script>
        <script src="/static/js/main.js"></script>
		
    </body>
</html>
